ICR_XNAT/src/xnatDAO/projectResources/icr.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://icr.ac.uk/icr" xmlns:icr="http://icr.ac.uk/icr"
	xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xnat="http://nrg.wustl.edu/xnat" xmlns:prov="http://www.nbirn.net/prov"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:import namespace="http://www.nbirn.net/prov" schemaLocation="../birn/birnprov.xsd"/>
	<xs:element name="MRIWOutput" type="icr:mriwOutputData"/>
	<xs:element name="ROISet" type="icr:roiSetData"/>
	<xs:element name="ROI" type="icr:roiData"/>
	<xs:complexType name="mriwOutputData">
		<xs:complexContent>
			<xs:extension base="xnat:qcAssessmentData">
				<xs:sequence>
					<xs:element name="outputType" type="xs:string" minOccurs="0"/>
					<xs:element name="converterClass" type="xs:string" minOccurs="0"/>
					<xs:element name="modelClass" type="xs:string" minOccurs="0"/>
					<xs:element name="solverClass" type="xs:string" minOccurs="0"/>
					<xs:element name="contrastAgent" type="xs:string" minOccurs="0"/>
					<xs:element name="patientCode" type="xs:string" minOccurs="0"/>
					<xs:element name="measurementCode" type="xs:string" minOccurs="0"/>
					<xs:element name="sessionDate" type="xs:string" minOccurs="0"/>
					<xs:element name="sessionTime" type="xs:string" minOccurs="0"/>
					<xs:element name="sliceLocation" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="roiSetData">
		<xs:complexContent>
			<xs:extension base="xnat:qcAssessmentData">
				<xs:sequence>
					<xs:element name="nROIs" type="xs:integer" minOccurs="1"> </xs:element>
					<xs:element name="roiDisplays" minOccurs="1" maxOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="roiDisplay" type="icr:roiDisplayData"
									minOccurs="1" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="associatedStructureSetUID" type="xs:string" minOccurs="0"
						maxOccurs="1"> </xs:element>
					<xs:element name="structureSetLabel" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM Tag (3006,0002) 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="structureSetName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM Tag (3006,0004) 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="structureSetDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0006) 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="structureSetDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0008) 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="structureSetTime" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0009) 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="referencedFramesOfReference" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DICOM sequence at (3006,0010)  
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="referencedFrameOfReference"
									type="icr:referencedFrameOfReferenceData" minOccurs="1"
									maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="roiDisplayData">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="roiID" type="xs:string" minOccurs="1"/>
			<xs:element name="lineType" type="xs:string" minOccurs="0"/>
			<xs:element name="lineColour" type="xs:string" minOccurs="0"/>
			<xs:element name="shadingType" type="xs:string" minOccurs="0"/>
			<xs:element name="shadingColour" type="xs:string" minOccurs="0"/>
			<xs:element name="shadingTransparency" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="roiData">
		<xs:complexContent>
			<xs:extension base="xnat:qcAssessmentData">
				<xs:sequence>
					<xs:element name="associatedRoiSetIDs" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ID" type="xs:string" minOccurs="1"
									maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="definingDICOMStructureSetUID" type="xs:string" minOccurs="1"
						maxOccurs="1"/>
					<xs:element name="definingDICOMStructureSetID" type="xs:string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The DICOM structure set maps to the type icr:roiSet. All structure sets are roiSets, but not all roiSets are necessarily structure sets!</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiNumberInStructureSet" type="xs:integer" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0022) - must be unique within structure set.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiDisplayColorInStructureSet" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,002A)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="referencedFrameOfReferenceUID" type="xs:string" minOccurs="1">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0024)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0026)
	    					</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0028)
	    					</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiVolume" type="xs:float" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,002C)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiGenerationAlgorithm" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0036)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiGenerationDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006,0038)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="contourGeometricType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>N.B. DICOM allows for the tag (3006, 0042) to be defined on a per-contour basis. However, even if any given ROI is made up of lots of contours (which in itself is rare), it is most likely that they will all be of the same type. We do not want to descend to the level of putting information on individual DICOM contours in the XML schema (and hence PostgreSQL database). So, we only have one single contourGeometricType here. If, by chance, an ROI is made up from different types of contour, we enumerate "MIXED" here and refer to the original DICOM file for further details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nDICOMContours" type="xs:int" minOccurs="0" maxOccurs="1"/>
					<xs:element name="derivationCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>N.B. Complete version of this rather long sequence at DICOM tag (0008, 9215) is not implemented. Too much effort for not enough gain.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rtRelatedRois" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DICOM sequence at (3006,0030)  
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="rtRelatedRoi" type="icr:rtRelatedRoi"
									minOccurs="1" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="rtRoiInterpretedType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006, 00A4)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiInterpreter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (3006, 00A6)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiMaterialID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>DICOM tag (300A, 00E1)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roiPhysicalProperties" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DICOM sequence at (3006,00B0)  
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="roiPhysicalProperty"
									type="icr:roiPhysicalProperty" minOccurs="1"
									maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="referencedFrameOfReferenceData">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,0010)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="frameOfReferenceUID" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (0020,0052)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameOfReferenceRelationships" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DICOM sequence at tag (3006,00C0)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="frameOfReferenceRelationship"
							type="icr:frameOfReferenceRelationshipData" minOccurs="0"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rtReferencedStudies" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM sequence at tag (3006,0012)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RTReferencedStudy" type="icr:rtReferencedStudyData"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="frameOfReferenceRelationshipData">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,00C0)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="relatedFrameOfReferenceUID" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,00C2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameOfReferenceTransformationMatrix" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,00C6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameOfReferenceTransformationComment" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DICOM (3006,00C8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rtReferencedStudyData">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,12)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referencedSOPInstanceUID" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (0008,1155)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rtReferencedSeriess" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM sequence at tag (3006,0014)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rtReferencedSeries" type="icr:rtReferencedSeriesData"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="rtReferencedSeriesData">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,0014)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="seriesInstanceUID" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (0020,000E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContourImages" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM sequence at tag (3006,0016)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContourImage" type="icr:contourImageData" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rtRelatedRoi">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,0030)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referencedRoiNumber" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,0084)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rtRoiRelationship" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,0033)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="roiPhysicalProperty">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,00B0)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="propertyName" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,00B2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="propertyValue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,00B4) - present except when propertyName=ELEM_FRACTION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="elementalCompositionList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DICOM sequence at tag (3006,00B6) - present only when propertyName=ELEM_FRACTION</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="elementalComposition" type="icr:elementalCompositionData"
							minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="elementalCompositionData">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,00B6)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="atomicNumber" type="xs:integer" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,00B7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="atomicMassFraction" type="xs:float" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (3006,00B8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contourImageData">
		<xs:annotation>
			<xs:documentation>Single item from DICOM sequence at tag (3006,0016)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referencedSOPInstanceUID" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>DICOM tag (0008,1155)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referencedFrameNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>DICOM tag (0008,1160)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
